
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
header :not(img){
    margin: 2%;

h2{ font-family:  'Inter', sans-serif;}
    



}
section {
    background-image: url(./lemon-pie\ 1.jpg);
    background-size: contain;
    background-position:center ;
    background-repeat: repeat-x;
    height: 343px;
}
